$color1:#388E3C;
$color2:#C8E6C9;
$color3:#4CAF50;
$colorButton:#00BCD4;

@mixin margenes($top,$bottom) {
     margin-top: $top;
     margin-bottom: $bottom;
}
 @mixin relleno($topr,$rightr,$bottomr,$leftr){
     padding-top: $topr;
     padding-right: $rightr;
     padding-bottom: $bottomr;
     padding-left: $leftr;
}
 .jumbotron{
     background-color: $color1;
     color:black;
     @include margenes(50px,0px);
}
 .btn{
   
	background-color:$colorButton;
}


footer{
	   @include relleno(10px,10px,0px,10px);
	   background-color:$color3;
		 @include margenes(10px,0px);
	   
	  }
 #main-section{
     background-color:$color2;
}
 #main1-section{
     background-color:$color2;
	 @include relleno(10px,10px,10px,10px);
     @include margenes(10px,0px);
}
 .bt-reserva{
     width :100%;
}
 .card-hotel{
     flex : 1 200px;
     @include relleno(2px,5px,2px,5px);
     @include margenes(10px,0px);
}