.jumbotron {
  background-color: #388E3C;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: #00BCD4; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #4CAF50;
  margin-top: 10px;
  margin-bottom: 0px; }

#main-section {
  background-color: #C8E6C9; }

#main1-section {
  background-color: #C8E6C9;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.bt-reserva {
  width: 100%; }

.card-hotel {
  flex: 1 200px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 0px; }
