@color1:#F57C00;
@color2:#FFE0B2;
@color3:#FF980A;
@colorButton:#795548;

.margenes(@top: 0px,@bottom: 0px) {
     margin-top: @top;
     margin-bottom: @bottom;
}
.relleno(@topr :0px,@rightr: 0px,@bottomr: 0px,@leftr: 0px){
     padding-top: @topr;
     padding-right: @rightr;
     padding-bottom: @bottomr;
     padding-left: @leftr;
}
 .jumbotron{
     background-color: @color1;
     color:black;
     .margenes(50px,0px);
}
.btn{
   
	background-color:@colorButton;
}
footer{
	  .relleno(10px,10px,0px,10px);
	    background-color:@color3;
		.margenes(10px,0px);
	   
	  }
 #main-section{
     background-color:@color2;
}
 #main1-section{
     background-color:@color2;
	 .relleno(10px,10px,10px,10px);
     .margenes(10px,0px);
}
 .bt-reserva{
     width :100%;
}
 .card-hotel{
     flex : 1 200px;
   .relleno(2px,5px,2px,5px);
    .margenes(10px,0px);
}